.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
}

.header-bg {
  background-color: rgba(0,0,0,.9); 
}

.banner-image {
  background-image: url('https://images.unsplash.com/photo-1646901111831-3be7a0eaf008?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80');
  background-size: cover;
}

.card-zoom:hover {
  transform: scale(1.05);
}

.card-zoom {
  transition: transform 0.4s ease;
}

.card-zoom {
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border: 0;
}

.card-litle-zoom:hover {
  transform: scale(1.015);
}

.card-litle-zoom {
  transition: transform 0.4s ease;
}

.card-litle-zoom {
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border: 0;
}

.vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

/* Colorize-zoom Container */
.img-magic {
  transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

/* The Transformation */
.img-magic:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}